{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Lista de Empleados</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidopaterno</th>
                <th>Apellidomaterno</th>
                <th>Fecha de Nacimiento</th>
                <th>Salario Anual</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
        {% for empleado in empleados %}
            <tr>
                <td><a href="{{ path('empleados_show', { 'id': empleado.id }) }}">{{ empleado.id }}</a></td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellidoPaterno }}</td>
                <td>{{ empleado.apellidoMaterno }}</td>
                <td>{{ empleado.fechaNacimiento|date('d-m-Y') }}</td>
                <td>{{ empleado.salarioAnual }}</td>
                <td>
                    <ul>
                        <li style="list-style:none;" >
                            <a class="btn btn-warning" href="{{ path('empleados_show', { 'id': empleado.id }) }}">Detalles</a>
                        </li>
                        <br>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li style="list-style:none;">
            <a class="btn btn-info" href="{{ path('empleados_new') }}">Registro de Empleado</a>
        </li>
    </ul>
    </di>
{% endblock %}
