{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Registro de Empleado</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Registrar" />
    {{ form_end(form) }}
    <br>
    <ul>
        <li style="list-style:none;">
            <a class="btn btn-info" href="{{ path('empleados_index') }}">Regresar a la Lista de Empleados</a>
        </li>
    </ul>
    </div>
{% endblock %}
