{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Empleado {{ empleado.nombre }} {{ empleado.apellidoPaterno }} {{ empleado.apellidoMaterno }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empleado.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ empleado.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidopaterno</th>
                <td>{{ empleado.apellidoPaterno }}</td>
            </tr>
            <tr>
                <th>Apellidomaterno</th>
                <td>{{ empleado.apellidoMaterno }}</td>
            </tr>
        </tbody>
    </table>

    <ul style="list-style:none;">
        <li>
            <a class="btn btn-success" href="{{ path('empleados_index') }}">Regresar a la Lista de Empleados</a>
        </li>
        <br>
        <br>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Eliminar Empleado">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
